@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/image-list/mdc-image-list";

* {
  padding: 0;
  margin: 0;
}

body, html {
  background-color: rgb(243, 243, 243);
}

.app {
  padding-top: 10vh;
}

.mdc-top-app-bar {
  box-shadow: 0px 3px 5px rgba(0,0,0,.3);
}

.my-masonry-image-list {
  @include mdc-image-list-masonry-columns(3);
}